.createNewImageDiv {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.newImageUl {
    list-style: none;
}

.newImageLi {
    margin: 1%;
    color: red;
}

.newImageInput {
    width: 200px;
    height: 20%;
    margin: 5% 0 5% 5%;
    margin-left: 1%;
    overflow: scroll;
    border-radius: 10px;
}

.newImageButton {
    margin: 5% 5% 5% 5%;
    /* margin-left: 5%; */
    border-radius: 20px;
    border: 2px solid #DDDDDD;
}
