.mainIdexPageMasterDiv {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.mainPageDisplayDivs {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

.mainPageDisplayDivsImage {
    height: 500px;
    width: 700px;
    border-radius: 10px;
}

.mainPageDisplayHeader {
    padding: 2%;
}

.mainPageDisplayLink {
    color: black;
    text-decoration: none;
}

.mainPageDisplayInfo {
    padding: 2%;
    font-weight: bold;
    font-style: italic;
}

.mainPageDisplayCreateButton {
    position: sticky;
    /* left: 10px; */
    margin-top: 40px;
    padding: 1%;
    top: 30px;
    text-align: center;
    vertical-align: middle;
    /* justify-content: center; */
    /* align-content: center; */
    color:  black;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    /* border: 1px #DDDDDD; solid; */
    border: 2px solid #DDDDDD;
    border-radius: 20px;
    height: 15%;
    width: 10%;

}
