.footer {
    display: flex;
    background-color: #fff;
    /* height: 10%; */
    align-items: center;
    justify-content: space-around;
    box-shadow: rgb(0 0 0 / 8%) 0 -1px 0;
    position: sticky;
    position: 0;
    /* bottom: 0; */
    width: 100%;
    /* height: 100px; */
}

.devFooter {
    position: relative;
    right: 30px;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 20px; */
}

.techFooter {
    position: relative;
    right: 100px;
    /* margin-bottom: 20px; */
}

.devLinks {
    position: relative;
    right: 100px;
    /* margin-bottom: 20px; */
}

.footerUl {
    display: flex;
    flex-direction: column;
    font-size: x-small;
}

.footerLi {
    list-style: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin: 1% 0; */
    font-size: x-small;
}
.footerLink {
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
}
