.CreateNewReviewForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    height: 200px;
    margin-bottom: 200px;
}

.CreateNewReviewLi{
    display: flex;
    flex-flow: column;
    list-style: none;
}

.CreateNewReviewUl {
    justify-content: center;
    align-items: center;
    text-align: center;
    color: red;
    margin: 1% 0;
}

.CreateNewReviewInput {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4% 0 4% 0;
    overflow: scroll;
    overflow-wrap: break-word;
    height: 100%;
    width: 100%;

    /* color: aliceblue; */
}
.CreateNewReviewButton {
    color:  black;
    font-size: larger;

    width: 32vw;
    /* height: 6vh; */
    border-radius: 20px;
    border: 2px solid #DDDDDD;
    margin-bottom: 3%;

}
